.services {
  height: 100vh;
  background-image: url("business-people.jpg");
  // linear-gradient(rgba(233, 6, 6, 0.5), rgba(220, 42, 42, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  // opacity: 50%;

  .title {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
  }
  h3 {
    width: 100%;
    height: 50px;
    color: #ffffff;
  }
  .card-div {
    color: #ffffff;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // padding: 25px;
    .cards {
      display: flex;
      align-items: center;
      height: 600px;
      width: 400px;
      border: black 3px solid;
      border-radius: 10px;
      background-color: #ffffff;
      color: black;
      text-align: center;
      display: flex;
      flex-direction: column;
      // margin: 20px;
      p {
        padding-top: 20px;
      }
      img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .text {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        padding: 20px;
        margin: 0;
        width: 350px;
      }
    }
  }
}
