footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
  height: 250px;
  // position: fixed;
  // bottom: 0;
}
.socials {
  height: 100%;
  width: 20%;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    padding: 10px;
  }
}
.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 50px;
  p {
    margin: 5px;
  }
}
ion-icon {
  color: black;
  font-size: 2rem;
}
